.secret-message-container, .flex {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
}

.secret-message-container {
    gap: 20px;
}

label,
input,
p,
button {
    padding: 10px;
}